In [1]:
import numpy as np

import pandas as pd
from pandas import Series, DataFrame

In [4]:
df_coca = pd.read_csv('/home/scott/Documents/LearnEnglish/MetaData/top5000_add_all_label.csv').loc[:,['Rank','Word']]

In [5]:
df_coca.head()

   Rank Word
0     1  the
1     2   be
2     3  and
3     4   of
4     5    a

In [12]:
!sed -i 's/^ *//g' python_ml_fr.txt;

In [13]:
!sed -i 's/ /,/g' python_ml_fr.txt

In [14]:
!head python_ml_fr.txt

6405,the
2325,a
2204,to
2167,we
2123,of
1880,in
1774,be
1486,and
1254,that
1082,for

In [18]:
df_book = pd.read_csv('/home/scott/Documents/freeq/python_ml_fr.txt', names=['Freq', 'Word'])

In [20]:
df_book.head()

   Freq Word
0  6405  the
1  2325    a
2  2204   to
3  2167   we
4  2123   of

In [26]:
df_freq = df_book[~df_book['Word'].isin(df_coca['Word'].iloc[:1000])]

In [27]:
df_freq.head()

    Freq     Word
14   663    train
19   513    datum
20   509      are
21   488  chapter
22   470  feature

In [30]:
df_freq.to_csv('/home/scott/Documents/WordFreq/python_ML_freq.csv')